asgiref==3.4.1
astroid==2.4.2
atomicwrites==1.4.0
attrs==19.3.0
bcrypt==3.1.7
certifi==2018.1.18
cffi==1.14.0
chardet==3.0.4
colorama==0.4.3
cycler==0.10.0
Cython==0.29.24
dj-database-url==0.5.0
Django==3.2.5
django-heroku==0.3.1
django-tinymce4-lite==1.8.0
docutils==0.14
graphviz==0.14.1
gunicorn==20.1.0
idna==2.6
importlib-metadata==1.7.0
isort==4.3.21
jsmin==2.2.2
Kivy==1.10.0
Kivy-examples==1.10.0
Kivy-Garden==0.1.4
kivy.deps.glew==0.1.9
kivy.deps.gstreamer==0.1.12
kivy.deps.sdl2==0.1.17
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
lxml==4.5.0
matplotlib==3.1.0
mccabe==0.6.1
more-itertools==8.4.0
numpy==1.16.3
packaging==20.4
pluggy==0.13.1
praw==5.4.0
prawcore==0.14.0
psycopg2==2.9.1
psycopg2-binary==2.9.1
py==1.9.0
pycparser==2.20
pygame==1.9.3
Pygments==2.2.0
pylint==2.5.3
pyparsing==2.4.0
pypiwin32==223
pytest==5.4.3
python-dateutil==2.8.0
pytz==2021.1
pywin32==223
requests==2.18.4
selenium==3.141.0
six==1.12.0
splinter==0.13.0
sqlparse==0.4.1
toml==0.10.1
typed-ast==1.4.1
typing-extensions==3.10.0.0
update-checker==0.16
urllib3==1.22
wcwidth==0.2.5
whitenoise==5.3.0
wrapt==1.12.1
zipp==3.1.0
