{% extends 'main/header.html' %}

{% block content %}
  <div class="container">
    {% for tut in tutorials %}
        <div class="card">
            <div class="card-body">
                <a style="color: black" href="/profile/{{tut.tutorial_title}}">
                    <h5 class="card-title">{{tut.tutorial_title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Published {{tut.tutorial_published}}</h6>
                    <p class="card-text">{{tut.tutorial_content|safe}}</p>
                </a>
            </div>
        </div>
    {% endfor %}
{% endblock %}