{% extends 'main/header.html' %}

{% block content %}
<div class="container">    
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{profile.username}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Last Updated: {{profile.last_updated}}</h6>
            {% if edit %}
            <input id="{{profile.username}}_content" type="text" value="{{profile.content|safe}}"/>
            {% else %}
            <p class="card-text">{{profile.content|safe}}</p>
            {% endif %}
        </div>        
            {% if user.username == profile.username %}
                {% if not edit %}
                    <a href="/profile/{{profile.username}}/edit" class="btn btn-primary">Edit Profile</a>
                {% else %}                
                    <a style="color: white" onclick="updateProfile()" class="btn btn-primary">Save Changes</a>
                {% endif %}
            {% endif %}
    </div>
    {% for card in profile.cards.all %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{card.title}}</h5>
            {% for item in card.items.all %}
            {% if edit %}
            <p class="card-text">{{item.item_key|safe}}:</p><input type="text" value="{{item.item_value|safe}}" />
            {% else %}
            <p class="card-text">{{item.item_key|safe}}: {{item.item_value|safe}}</p>
            {% endif %}
            {% endfor %}
        </div>
    </div>    
    {% endfor %}
</div>  
<script>
    let updateProfile = () => {
        let content = document.getElementById("{{profile.username}}_content");
        let update = "";
        console.log(content.value + " " + "{{profile.content}}")
        if (content.value != "{{profile.content}}")
            update += "\"content\":\"" + content.value + "\"";
        
        console.log("/update/{{profile.username}}/" + update);
        if (update != "") {
            window.location = "/update/{{profile.username}}/" + update;
        }
    }
</script>
{% endblock %}