{% extends 'main/header.html' %}

{% block content %}
  <div class="container py-3">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to fps.bio!</h1>
        <p class="lead">fps.bio allows FPS players to easily create a profile to showcase their game settings and any other relevant information.</p>
        <hr class="my-4">
        <p>Search for a user on fps.bio:</p>
        <div class="input-group mb-3">
            <input id="searchTerm" type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" onclick="search()">Search</button>
            </div>
        </div>
    </div>
    <script>
        let search = () => {
            let term = document.getElementById("searchTerm").value;
            window.location = "/search/" + term
        }
    </script>
{% endblock %}