{% extends 'main/header.html' %}

{% block content %}
  <div class="container py-3">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to fps.bio!</h1>
        <p class="lead">fps.bio allows FPS players to easily create a profile to showcase their game settings and any other relevant information.</p>
        <hr class="my-4">
        <p>Search for a user on fps.bio:</p>
        <div class="input-group mb-3">
            <input id="searchTerm" type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" onclick="search()">Search</button>
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <h1 class="display-4">How does fps.bio work?</h1>
        <hr class="my-4">        
        <p>In order to setup an fps.bio profile, you must first <a href="/register">register</a> an account.</p>
        <p>Once you register your account, you can navigate to your profile by clicking your name in the top-right corner and selecting "Profile".</p>
        <p>You will be met with a blank profile:</p>
        
        <img style="width: 100%" class="pb-3" src="https://i.imgur.com/VD0fSzN.png" alt="blank profile"/>

        <h3 class="display-6">Edit Profile:</h3>
        <hr class="my-4">                
        <img style="width: 100%" class="pb-3" src="https://i.imgur.com/ufaQbmi.png" alt="edit profile"/>   
        <p>Clicking "Edit Profile" will allow you to edit your profile information, as well as add cards to your profile.</p>
     

        <p>If you have a link to an image you would like to set as your profile, set it in the "Image Link" field. At the moment, fps.bio does not support uploading image files. I recommend using a site such as imgur.com to upload your profile picture.</p>
        <p>You can also set your name and a description for your profile.</p>
        <p>Right now, the two types of cards you can add are "Game" and "Text" cards.</p>
        
        <h3 class="display-6">Game Card:</h3>
        <hr class="my-4">        
        <img style="width: 100%" class="pb-3" src="https://i.imgur.com/kDMjVs2.png" alt="game card"/>      
        <p>The "Game" card allows you to specify a game name, and add any settings you would like. You can remove the card or each setting individually if you wish.</p>
        <h3 class="display-6">Text Card:</h3>
        <hr class="my-4">        
        <img style="width: 100%" class="pb-3" src="https://i.imgur.com/zgAlM5h.png" alt="text card"/>    
        <p>The "Text" card allows you to design a text box on your profile. Using the TinyMCE text editor, you can play around with different text types, different text styles, and different alignments.</p>

        <h3 class="display-6">Finishing Up:</h3>
        <hr class="my-4">
        <p>Once you are finished editing your profile, you can click "Save Changes" to save your profile. If you wish not to save these changes, clicking "Cancel" will return you to your profile.</p>

        <p>Here's what a completed profile could look like, but feel free to customize your profile to your liking!<p>
        <img style="width: 100%" class="pb-3" src="https://i.imgur.com/XJxPYP2.png" alt="complete profile"/>   
        
    </div>
    <script>
        let search = () => {
            let term = document.getElementById("searchTerm").value;
            window.location = "/search/" + term
        }
    </script>
{% endblock %}