{% extends 'main/header.html' %}

{% block content %}

    <div class="container py-3 text-center">
        <h3>Register</h3>
        <br>
        <form method="POST">
            {% csrf_token %}
            <div>
                <div class="form-group row center">
                    <label for="id_username" class="col-sm-2 col-form-label">Username:</label>
                    <div>                
                        <input class="form-control" type="text" name="username" maxlength="150" autofocus="" required="" id="id_username" placeholder="Username">      
                    </div>  
                </div>
                <div class="form-group row center">
                    <label for="id_email" class="col-sm-2 col-form-label">Email:</label>
                    <div>
                        <input class="form-control" type="email" name="email" required="" id="id_email" placeholder="Example@email.com">
                    </div>
                </div>
                <div class="form-group row center">
                    <label for="id_password1" class="col-sm-2 col-form-label">Password:</label>
                    <div>
                        <input class="form-control" type="password" name="password1" autocomplete="new-password" required="" id="id_password1" placeholder="Password">
                    </div>
                </div>
                <div class="form-group row center">
                    <label for="id_password2" class="col-sm-2 col-form-label">Confirm Password:</label>
                    <div>
                        <input class="form-control" type="password" name="password2" autocomplete="new-password" required id="id_password2" placeholder="Password">
                    </div>
                </div>
            </div>
            <p>Your password can’t be too similar to your other personal information.</p>
            <p>Your password must contain at least 8 characters.</p>
            <p>Your password can’t be a commonly used password.</p>
            <p>Your password can’t be entirely numeric.</p>
            
            <button class="btn btn-primary" type="submit">Sign Up</button>

        
        </form>

        If you already have an account <a href="/login" target="blank"><strong>login</strong></a> instead.
    </div>
{% endblock %}